<nav>
  <div class="nav-wrapper" style="min-width:500px">
    <ul id="nav-mobile" >
      <li><a routerLink="/home">Home </a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/product/create">Product</a></li>

      <ng-container *ngIf="!user; else connectedMenu">
          <li class="right"><a routerLink="/login">Connexion</a></li>
      </ng-container>
      <ng-template #connectedMenu>

          <li class="right" style="margin-left:25px;"><a (click)="handleLogoutAction()">Deconnexion</a></li>
          <li class="right "> <a class="btn-floating btn-large pulse" routerLink="/profil" >{{user?.label}}</a> </li>
      </ng-template>
    </ul>
  </div>
</nav>

