<form [formGroup]="FormRegister" (ngSubmit)="handleSubmitAction()" >
    <div class="input-field">
        <input type="text" formControlName="username" name="username" id="username" placeholder="Username">
    </div>

    <div class="input-field">
        <input type="text" formControlName="email" name="email" id="email" placeholder="Email">
    </div>
    <div class="input-field">
        <input type="password" name="password" id="password" formControlName="password" placeholder="Password">
    </div>
    <button type="submit" class="btn">Register</button>
</form>
<br>
